# Review
Hi, my name is Dmitry and I will be reviewing your project.

You can find my comments in colored markdown cells:

<div class="alert alert-success">
    If everything is done succesfully.
</div>

<div class="alert alert-warning">
    If I have some (optional) suggestions, or questions to think about, or general comments.
</div>

<div class="alert alert-danger">
    If a section requires some corrections. Work can't be accepted with red comments.
</div>

First of all, thank you for turning in the project! Unfortunately it is really difficult to make out what you're doing because while you use the provided template, the headings don't match the code at all. Please make the code conform to the step descriptions. Discussing the project through this medium would be very ineffective. If you have any questions, please don't hesitate to contact your tutor!

### Hi,I have being in many troubles while i was completing this project

## Questions:
## I made changes but i still getting no losses on the risk evaluation

<div class="alert alert-danger">
    Hi! Don't be discouraged! Making mistakes is natural when learning! If you need help, please contact your tutor! Unfortunately, it's not very effective to communicate using jupyter notebooks :)
</div>

<div class="alert alert-warning">
    Hi! I contacted the community manager, I hope they'll get you in touch with a tutor to help you with this project
</div>

<div class="alert alert-danger">
    Hi! I looked through the code again, and left some new comments! If you fix those problems I mentioned, you should get the correct results. Then you also need to revise the conclusions! Good luck!
</div>

<div class="alert alert-success">
    The project is accepted now! Congratulations!
</div>

# Project OilyGiant

Our main task is to find the best place for a new well. In other words, we should:
- **pick the oil wells with the highest values**
- **pick thre regions with the highest totalm profit for the selected oil wells**

## Step 1. Download and prepare the data. Explain the procedure.

We got geological information from three regions

In [32]:
import pandas as pd
g1= pd.read_csv('/datasets/geo_data_0.csv')
g2= pd.read_csv('/datasets/geo_data_1.csv')
g3= pd.read_csv('/datasets/geo_data_2.csv')

In [33]:
g1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
id         100000 non-null object
f0         100000 non-null float64
f1         100000 non-null float64
f2         100000 non-null float64
product    100000 non-null float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [34]:
g2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
id         100000 non-null object
f0         100000 non-null float64
f1         100000 non-null float64
f2         100000 non-null float64
product    100000 non-null float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [35]:
g3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
id         100000 non-null object
f0         100000 non-null float64
f1         100000 non-null float64
f2         100000 non-null float64
product    100000 non-null float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [36]:
g1.corr()

               f0        f1        f2   product
f0       1.000000 -0.440723 -0.003153  0.143536
f1      -0.440723  1.000000  0.001724 -0.192356
f2      -0.003153  0.001724  1.000000  0.483663
product  0.143536 -0.192356  0.483663  1.000000

Let's prepare the data adequately. Recall that column 'id' contains unique values and take into account thata we have continuous variables. An ordinal encoding involves mapping each unique label to an integer value. It will help to Standarize the data.

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
target_1 = g1['product']
features_1 = g1.drop(['id','product'] , axis=1)

In [39]:
target_2 = g2['product']
features_2 = g2.drop(['id','product'] , axis=1)

In [40]:
target_3 = g3['product']
features_3 = g3.drop(['id','product'] , axis=1)

<div class="alert alert-success">
    It's great that you removed the 'id' column from the features
</div>

<div class="alert alert-danger">
    <s>OrdinalEncoder is used to encode categorical features. The point is to convert strings or other datatypes to a numerical format suitable for modelling. You really really shouldn't encode floating point columns with it: they are already in a usable format, and encoding them only distorts the data.</s>
</div>

## Step 2. Train and test the model for each region:

Time to modeling data and we expect to predict the volume of reserves. According to the condiitons, we will use the Linear Regression model

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

### 2.1. Split the data into a training set and validation set at a ratio of 75:25.

Data is divided in validation (25%), test (25%) and training (75%) data. This allows us to tune in the hyperparameters and select the best paraemters for the test model. Then, after choosing the best hyperparamethers , we have to test our model and we divide again into train and test parts

In [42]:
features_train_1, features_valid_1, target_train_1, target_valid_1 = train_test_split(features_1, target_1, test_size=0.25, random_state=12345)
features_train_1, features_test_1, target_train_1, target_test_1 = train_test_split(features_train_1, target_train_1, test_size=0.25, random_state=12345)

features_train_2, features_valid_2, target_train_2, target_valid_2 = train_test_split(features_2, target_2, test_size=0.25, random_state=12345)
features_train_2, features_test_2, target_train_2, target_test_2 = train_test_split(features_train_2, target_train_2, test_size=0.25, random_state=12345)

features_train_3, features_valid_3, target_train_3, target_valid_3 = train_test_split(features_3, target_3, test_size=0.25, random_state=12345)
features_train_3, features_test_3, target_train_3, target_test_3 = train_test_split(features_train_3, target_train_3, test_size=0.25, random_state=12345)

### 2.2. Train the model and make predictions for the validation set.

We check how is the accuracy of the model and how the prediction is made.

In [43]:
model1 = LinearRegression()
model1.fit(features_train_1, target_train_1)
predicted_valid_1 = model1.predict(features_valid_1)

model2 = LinearRegression()
model2.fit(features_train_2, target_train_2)
predicted_valid_2 = model2.predict(features_valid_2)

model3 = LinearRegression()
model3.fit(features_train_3, target_train_3)
predicted_valid_3 = model3.predict(features_valid_3)

### 2.3. Save the predictions and correct answers for the validation set.

It means finding the combination of hyperparameter values for a machine learning model that performs the best - as measured on a validation dataset - for a problem.

In [44]:
model1.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

First, we copy data to avoid overitten, the fit intercept must be centered and set true. We also want to speed up the number of jobs used by the computer (>1) and finally it is not necesssary to normalizeit.

This change it doesn't bring us anything new, so there is no improvement

### 2.4. Print the average volume of predicted reserves and model RMSE.

In [45]:
from sklearn.metrics import mean_squared_error

Time to set on the parameters on the test set and explore the results

In [61]:
model1 = LinearRegression()
model1.fit(features_train_1, target_train_1)
predicted_test_1 = model1.predict(features_test_1)
model2 = LinearRegression()
model2.fit(features_train_2, target_train_2)
predicted_test_2 = model2.predict(features_test_2)
model3 = LinearRegression()
model3.fit(features_train_3, target_train_3)
predicted_test_3 = model3.predict(features_test_3)

One of the metrics it is the score metric

**Score:** Return the coefficient of determination R^2 of the prediction.
The coefficient R^2 is defined as (1 - u/v), where u is the residual sum of squares ((y_true - y_pred) ** 2).sum() and v is the total sum of squares ((y_true - y_true.mean()) ** 2).sum()

In [47]:
score1= model1.score(features_valid_1, target_valid_1)
print('Score model region 1:',score1)
score2= model2.score(features_valid_2, target_valid_2)
print('Score model region 2:',score2)
score3= model3.score(features_valid_3, target_valid_3)
print('Score model region 3:',score3)

Score model region 1: 0.2799748580085534
Score model region 2: 0.9996233629918202
Score model region 3: 0.20524513927244104

There is many suitable metrics for regression task. First we check the quality of the model and compare with the average of predicted values

First, the average of the predicted volume by using the metrics MSE and RMSE

In [48]:
mse_1 = mean_squared_error(target_test_1, predicted_test_1)
mse_2 = mean_squared_error(target_test_2, predicted_test_2)
mse_3 = mean_squared_error(target_test_3, predicted_test_3)
print("MSE1=", mse_1)
print("RMSE1 =", mse_1 ** 0.5)
print("MSE2=", mse_2)
print("RMSE2 =", mse_2 ** 0.5)
print("MSE3=", mse_3)
print("RMSE3 =", mse_3 ** 0.5)

MSE1= 1420.0765401742128
RMSE1 = 37.68390293181179
MSE2= 0.7925576461953431
RMSE2 = 0.8902570674784577
MSE3= 1584.5827895676182
RMSE3 = 39.806818380368185

Second, with the average of the target volume of reserves

MSE values for the constant model

In [49]:
predicted_test_1 = pd.Series(target_train_1.mean(), index=target_test_1.index)
mse_1n = mean_squared_error(target_test_1, predicted_test_1)
print("MSEcte=", mse_1n)
print("RMSE =", mse_1n ** 0.5)
predicted_test = pd.Series(target_train_2.mean(), index=target_test_2.index)
mse_2n = mean_squared_error(target_test_2, predicted_test_2)
print("MSEcte=", mse_2n)
print("RMSE =", mse_2n ** 0.5)
predicted_test_3 = pd.Series(target_train_3.mean(), index=target_test_3.index)
mse_3n = mean_squared_error(target_test_3, predicted_test_3)
print("MSEcte=", mse_3n)
print("RMSE =", mse_3n ** 0.5)

MSEcte= 1964.2191517074255
RMSE = 44.31951208787643
MSEcte= 0.7925576461953431
RMSE = 0.8902570674784577
MSEcte= 1974.7016209449562
RMSE = 44.437614933127946

Compare with the constant and obtain the model's error

In [50]:
df_1= abs(mse_1n ** 0.5-mse_1 ** 0.5)
df_2= abs(mse_2n ** 0.5-mse_2 ** 0.5)
df_3= abs(mse_3n ** 0.5-mse_3 ** 0.5)
print('Difference RMSE model 1: ',df_1)
print('Difference RMSE model 2: ',df_2)
print('Difference RMSE model 3: ',df_3)

Difference RMSE model 1:  6.635609156064646
Difference RMSE model 2:  0.0
Difference RMSE model 3:  4.630796552759762

## Conclusion

In [51]:
d= {'Region1': [score1, mse_1**0.5, mse_1n**0.5, df_1], 'Region2': [score2, mse_2**0.5, mse_2n**0.5, df_2], 'Region3': [score3, mse_3**0.5, mse_3n**0.5, df_3], 'Metrics': ['Score', 'RMSE', 'RMSE-CTE', 'error']}
pd.DataFrame(d).set_index('Metrics')

            Region1   Region2    Region3
Metrics
Score      0.279975  0.999623   0.205245
RMSE      37.683903  0.890257  39.806818
RMSE-CTE  44.319512  0.890257  44.437615
error      6.635609  0.000000   4.630797

## The data from the region 2 predicts better results as it proves the evaluations of its metrics. The one which presents lowest quality, region 1 means that it doesn't adjust with the model but not necessary depicts the worst model prediction

<div class="alert alert-danger">
    <s><ul>
    <li>The split into train, validation and test sets is done incorrectly: you need to do the split into the three sets (if you're going to do hyperparameter tuning, otherwise you can have just train and validation/test) before training any models and then use the validation set for selecting the best hyperparameters, and only use the test set for evaluation of the selected model. You split the test set off from the train set after model selecton.
    <li>'n_jobs' isn't a hyperparameter of linear regression, and it doesn't make sense to tune it. Please consult with scikit-learn documentation.
    <li>What does the 'Score' metric represent?
    <li>You need to calculate the average volume of predicted reserves and compare the regions using two things: average product and model error.
        </ul></s>
</div>

<div class="alert alert-warning">
    If you don't do any hyperparameter tuning, you don't need the validation set. You can just train the model using the train set and then evaluate it on the test set.
</div>

## Step3. Prepare for profit calculation:

We have to add more information to the geaological datasets to measure how profitable are. We include profit column to each one of the datasets. NOTE: One barrel of raw materials brings 4.5 USD of revenue The revenue from one unit of product is 4,500 dollars (volume of reserves is in thousand barrels).

### 3.1. Store all key values for calculations in separate variables.

In [52]:
import numpy as np

Create new variables insides of each region. First of all we need the predictions and target of our models and store in a new table called region

#### Model 1

In [62]:
predicted_test_1=pd.Series(predicted_test_1, index=target_test_1.index)
target_test_1=pd.Series(target_test_1)
region1= g1.copy()
region1['predictions']= predicted_test_1
region1['target']= target_test_1
del region1['f0'], region1['f1'], region1['f2']
region1.dropna(inplace=True)
region1

          id     product  predictions      target
7      BYPU6   72.943292    27.993083   72.943292
11     1YYm1   45.110381    58.211921   45.110381
16     6vJcD  163.143987    78.011400  163.143987
25     HgCfr  153.998158    77.814023  153.998158
29     bkKez  138.721978    59.555560  138.721978
...      ...         ...          ...         ...
99970  icz3s   50.168281    82.157312   50.168281
99981  FxFhi   29.627803    78.036158   29.627803
99989  Aa0Ne   89.944929    92.369708   89.944929
99992  vgK5D   95.180855    88.840362   95.180855
99995  DLsed  110.744026   116.200853  110.744026

[18750 rows x 4 columns]

#### Model 2

In [63]:
predicted_test_2=pd.Series(predicted_test_2, index=target_test_2.index)
target_test_2=pd.Series(target_test_2)
region2= g2.copy()
region2['predictions']= predicted_test_2
region2['target']= target_test_2

del region2['f0'], region2['f1'], region2['f2']
region2.dropna(inplace=True)
region2

          id     product  predictions      target
7      muH9x   53.906522    55.067967   53.906522
11     OXyvW    0.000000    -0.739678    0.000000
16     siveY   53.906522    53.860544   53.906522
25     AOrbK   57.085625    55.629384   57.085625
29     JPiGi    3.179103     3.466037    3.179103
...      ...         ...          ...         ...
99970  bkcZ4   80.859783    81.762083   80.859783
99981  jmPUN   80.859783    82.150910   80.859783
99989  p0Iyd  107.813044   109.000726  107.813044
99992  BYhdw   84.038886    83.179222   84.038886
99995  QywKC   53.906522    54.286623   53.906522

[18750 rows x 4 columns]

#### Model 3

In [64]:
predicted_test_3=pd.Series(predicted_test_3, index=target_test_3.index)
target_test_3=pd.Series(target_test_3)
region3= g3.copy()
region3['predictions']= predicted_test_3
region3['target']= target_test_3

del region3['f0'], region3['f1'], region3['f2']
region3.dropna(inplace=True)
region3

          id     product  predictions      target
7      XO8fn   72.480640    79.813796   72.480640
11     V9R1y  150.859435   129.992114  150.859435
16     2oVFv   84.500464   120.622602   84.500464
25     KMQl3   95.466896    74.548388   95.466896
29     6UkRY  103.263475    85.095012  103.263475
...      ...         ...          ...         ...
99970  cLBP0   85.487009   107.681683   85.487009
99981  uF23g   43.976501    75.058554   43.976501
99989  rJzpp   88.520067   107.287805   88.520067
99992  yDrAl  151.374166    92.433168  151.374166
99995  4GxBu  172.327046   116.364864  172.327046

[18750 rows x 4 columns]

<div class="alert alert-warning">
    In this dataframes product and target columns are identical
</div>

Afterwards, we cretae the fundamental variables to obtain profit calculation. We have constainsts for our future calculations

It is important that we dispose a budget of 100 million USD to explore 200 wells. We must set a function which calculates the profit with the parameters given (predictions, target). We declare constant variables for our revenue function

In [65]:
BUDGET = 100000000
POINTS_PER_BUDGET = 200
PRODUCT_PRICE = 4500

### 3.2.Calculate the volume of reserves sufficient for developing a new well without losses.

we have an ecuation like: *POINTS_PER_BUDGET* X *PRODUCT_PRICE* X *volume_target* - *BUDGET*

In [66]:
volume_target= BUDGET/(POINTS_PER_BUDGET*PRODUCT_PRICE)
volume_target

111.11111111111111

### 3.3. Provide the findings about the preparation for profit calculation step.

In [67]:
print('Mean of volume of reserves in region 1:',region1['predictions'].mean())
print('Mean of volume of reserves in region 2',region2['predictions'].mean())
print('Mean of volume of reserves  in region 3',region3['predictions'].mean())

Mean of volume of reserves in region 1: 92.7077104515298
Mean of volume of reserves in region 2 68.96827277573811
Mean of volume of reserves  in region 3 94.95552388797545

## When we face data like the average of each region with the theoric volume to have no losses, we see that each region with wells' predictions  appears not to be so close with the theoric volume

<div class="alert alert-danger">
    <s>I'm not sure what you're doing, but it does not seem to be what the task requires you to do</s>
</div>

<div class="alert alert-success">
    Ok, great! So you calculated how much product should one well produce to be profitable and found the average product in each region to be lower than that value. So we need to have something better than a random selection of wells, for example a machine learning model!
</div>

## Step 4.Write a function to calculate profit from a set of selected oil wells and model predictions

### 4.1 Pick the wells with the highest values of predictions.

it seems we have got enought information to obtain new information. We have a budget to explore only 200 wells, but we have a lot of candidates for these 200 wells. we selected from our model and then explore them to get the real target values

We select 500 points from whole dataset, then use your model to make predictions on these 500 points

In [68]:
state = np.random.RandomState(12345)
sample1= region1.sample(n=500, random_state=state)
sample2= region2.sample(n=500, random_state=state)
sample3= region3.sample(n=500, random_state=state)

<div class="alert alert-danger">
    <s>Below you are doing something strange: training models from scratch, adding duplicate columns (target is the same as product, but as a result of index mismatch, there are a lot of nulls). You just need to take the predictions you did in the first section and use them... Or if you really want the tables with both predictions and targets, you can use region1, region2, region3 dataframes you created above and sample from them</s>
</div>

#### Sample 1

In [69]:
selected1= sample1.sort_values(by='predictions',ascending=False).head(200)
selected1

          id     product  predictions      target
34333  ADP21  152.761334   161.251879  152.761334
40271  t6LMC  152.806694   151.268131  152.806694
59279  qe8Jj  176.866196   149.722422  176.866196
51868  GbL3J   98.028952   146.326910   98.028952
10598  wWtjv  133.198376   144.692353  133.198376
...      ...         ...          ...         ...
25597  KZwYv   74.137480   100.220650   74.137480
36114  6WFjL   35.021797   100.183908   35.021797
70792  2qhEt  103.360792   100.170858  103.360792
18083  GXg2r  161.181520   100.139957  161.181520
13786  AkzWS   89.282912   100.108382   89.282912

[200 rows x 4 columns]

#### Sample 2

In [70]:
selected2= sample2.sort_values(by='predictions',ascending=False).head(200)
selected2

          id     product  predictions      target
81453  wUYeg  137.945408   139.516993  137.945408
13695  Nmrjp  137.945408   138.608415  137.945408
50222  2vjOU  137.945408   138.455018  137.945408
98247  EmWA8  137.945408   138.452285  137.945408
78084  gKprq  137.945408   138.418445  137.945408
...      ...         ...          ...         ...
39532  RPUz9   80.859783    82.566277   80.859783
75394  JhXcm   84.038886    82.467643   84.038886
76500  6r5mU   80.859783    82.394579   80.859783
998    2iiNp   80.859783    82.329051   80.859783
1438   u0QoY   84.038886    82.272523   84.038886

[200 rows x 4 columns]

#### Sample 3

In [71]:
selected3= sample3.sort_values(by='predictions',ascending=False).head(200)
selected3

          id     product  predictions      target
35301  HjOEa  125.238378   156.887488  125.238378
79261  pBiP8  124.385587   155.273027  124.385587
96394  PVDmC  157.972954   148.539009  157.972954
39111  DQLxj  167.083741   143.368921  167.083741
15797  lGGxX  136.159747   142.130532  136.159747
...      ...         ...          ...         ...
84066  PXZYQ  143.975170   100.545790  143.975170
82698  oRcLj  141.161344   100.432423  141.161344
59016  abUVz   54.155473   100.308911   54.155473
56023  tpzNx   39.989444   100.037610   39.989444
74541  ojvon   64.396805    99.813982   64.396805

[200 rows x 4 columns]

We pick the best 200 wells predictions

In [81]:
pd.concat([selected1, selected2, selected3], keys=['sample1', 'sample2', 'sample3'], axis=1)

      sample1                                     sample2              \
           id     product predictions      target      id     product
31      t86xZ   89.021460  105.319834   89.021460   4NJv3   84.038886
245       NaN         NaN         NaN         NaN   f8Za8  134.766305
337       NaN         NaN         NaN         NaN   uHDh2  107.813044
579     ObOme  125.152152  103.767759  125.152152     NaN         NaN
978     g4FRZ  101.438809  102.105367  101.438809     NaN         NaN
...       ...         ...         ...         ...     ...         ...
98907     NaN         NaN         NaN         NaN   0XAXY  137.945408
99634     NaN         NaN         NaN         NaN   rhKZE  110.992147
99683     NaN         NaN         NaN         NaN     NaN         NaN
99692     NaN         NaN         NaN         NaN     NaN         NaN
99935     NaN         NaN         NaN         NaN     NaN         NaN

                              sample3
      predictions      target      id     product predictions      target
31      83.619069   84.038886     NaN         NaN         NaN         NaN
245    136.097011  134.766305     NaN         NaN         NaN         NaN
337    108.864388  107.813044     NaN         NaN         NaN         NaN
579           NaN         NaN     NaN         NaN         NaN         NaN
978           NaN         NaN     NaN         NaN         NaN         NaN
...           ...         ...     ...         ...         ...         ...
98907  137.496716  137.945408     NaN         NaN         NaN         NaN
99634  110.994580  110.992147     NaN         NaN         NaN         NaN
99683         NaN         NaN   bVGjz  120.589305  101.676055  120.589305
99692         NaN         NaN   pJGkc  121.248291  139.689105  121.248291
99935         NaN         NaN   D0LVY  132.426527  119.527274  132.426527

[595 rows x 12 columns]

<div class="alert alert-danger">
    <s>Looking at this tables it seems that you did merging incorrectly</s>
</div>

### 4.2. Summarize the target volume of reserves in accordance with these predictions

In [82]:
mean1_p=selected1['predictions'].mean()
mean2_p=selected2['predictions'].mean()
mean3_p=selected3['predictions'].mean()

In [83]:
mean1_t= selected1['target'].mean()
mean2_t= selected2['target'].mean()
mean3_t= selected3['target'].mean()

what we got is that wells on region 1 is not posible to obtain actual results and compare with predictions. Otherwise it is more precise in case of region 2 where it is more likely obtain more volume of reserves

<div class="alert alert-danger">
    <s>Profit calculation function doesn't look correct: where does the 500000 number come from? </s>
</div>

### 4.3. Provide findings: suggest a region for oil wells' development and justify the choice. Calculate the profit for the obtained volume of reserves.

In [84]:
BUDGET = 100000000
POINTS_PER_BUDGET = 200
PRODUCT_PRICE = 4500

<div class="alert alert-danger">
    <s>Budget is incorrect</s>
</div>

In [85]:
def profit(predict,target):
    predict_sort = predict.sort_values(ascending=False)
    target_select = target[predict_sort.index][:POINTS_PER_BUDGET]
    profit = ((target_select.sum() * PRODUCT_PRICE) - BUDGET)
    return profit

In [86]:
profit_1=profit(selected1['predictions'], selected1['target'])
profit_2=profit(selected2['predictions'], selected2['target'])
profit_3=profit(selected3['predictions'], selected3['target'])

<div class="alert alert-danger">
    <s>You use wrong indexes for prediction subsamples: they need to match target subsample indexes. Otherwise the sampling is done correctly</s>
</div>

<div class="alert alert-success">
    Profit function looks correct!
</div>

In [87]:
d= pd.DataFrame({'Region 1': [mean1_p, mean1_t, profit_1], 'Region 2': [mean2_p, mean2_t, profit_2], 'Region 3': [mean3_p, mean3_t, profit_3], 'Averages': ['Predict', 'Target', 'Profit']}) 
d.set_index('Averages')

              Region 1      Region 2      Region 3
Averages
Predict   1.150162e+02  1.133165e+02  1.140985e+02
Target    1.186051e+02  1.133357e+02  1.138267e+02
Profit    6.744562e+06  2.002128e+06  2.444034e+06

## Conclusion

## In conclusion, the best region for  oil wells is the region 1 where we obtain best predicitons and best profits. The revenue function takes two inputs: predictions of the model and target. Only top 200 target values is selected as acordinf to the task. i wolud suggest to develop wells from the region 3 as a secure resource source if you want to be sure of your findings.

<div class="alert alert-danger">
    <s>I'm sorry, but I don't understand how you reached the conclusion. It seems that you didn't calculate the profits?</s>
</div>

## Step 5.Calculate risks and profit for each region:

This part we will part from the random samples and their predicitons to calculate economic metrics

### 5.1. Use the bootstrapping technique with 1000 samples to find the distribution of profit.

Bootstrap Sampling is a method that involves drawing of sample data repeatedly with replacement from a data source to estimate a population parameter
The process for building one sample can be summarized as follows:

- Choose the size of the sample.
- While the size of the sample is less than the chosen size
- Randomly select an observation from the dataset
- Add it to the sample

In [98]:
state = np.random.RandomState(12345)

Bootstraping is done 1000 times to 500 random wells and asdign to a vector of 1000 entries.Thus it will help us to avoid variance and outliers

In [88]:
valor_1=[]
valor_2=[]
valor_3=[]
for i in range(1000):
    target_subsample_1 = target_test_1.sample(n=500, replace=True, random_state=state)
    target_subsample_2 = target_test_2.sample(n=500, replace=True, random_state=state)
    target_subsample_3 = target_test_3.sample(n=500, replace=True, random_state=state)
    pred_subsample_1 = predicted_test_1[target_subsample_1.index]
    pred_subsample_2 = predicted_test_2[target_subsample_2.index]
    pred_subsample_3 = predicted_test_3[target_subsample_3.index]
    valor_1.append(profit(pred_subsample_1, target_subsample_1))
    valor_2.append(profit(pred_subsample_2, target_subsample_2))
    valor_3.append(profit(pred_subsample_3, target_subsample_3))

<div class="alert alert-danger">
    <s>The code fails here, and it seems to just repeat the code from an earlier cell?</s>
</div>

<div class="alert alert-danger">
    <s>You shouldn't reset index here, it leads to incorrect matching of targets and predictions</s>
</div>

### 5.2. Find average profit, 95% confidence interval and risk of losses. Loss is negative profit, calculate it as a probability and then express as a percentage.

In [89]:
from scipy import stats as st

We continue calculating the interval confidence with an 95% average profit

<div class="alert alert-danger">
    <s>You can just use the quantiles you calculated as confidence interval ends</s>
</div>

In [90]:
bprofit_1=pd.Series(valor_1)
ci_1= st.t.interval(0.95, len(bprofit_1)-1, bprofit_1.mean(), bprofit_1.sem())
l1=bprofit_1.quantile(0.025)
h1=bprofit_1.quantile(0.975)
print('Confidence Interval of region 1:',(ci_1) )
print('Lowest quantile of region 1:',l1)
print('Highest quantile of region 1:',h1)

Confidence Interval of region 1: (4807568.056063165, 5160774.05503172)
Lowest quantile of region 1: -473629.4474139641
Highest quantile of region 1: 10522166.258761182

In [91]:
bprofit_2=pd.Series(valor_2)
ci_2= st.t.interval(0.95, len(bprofit_2)-1, bprofit_2.mean(), bprofit_2.sem())
l2=bprofit_2.quantile(0.025)
h2=bprofit_2.quantile(0.975)
print('Confidence Interval of region 1:',ci_2)
print('Lowest quantile of region 2:',l2)
print('Highest quantile of region 2:',h2)

Confidence Interval of region 1: (5010538.415492756, 5283173.8981914185)
Lowest quantile of region 2: 979003.3250564099
Highest quantile of region 2: 9714736.64155847

In [92]:
bprofit_3=pd.Series(valor_3)
ci_3= st.t.interval(0.95, len(bprofit_3)-1, bprofit_3.mean(), bprofit_3.sem())
l3=bprofit_3.quantile(0.025)
h3=bprofit_3.quantile(0.975)
print('Confidence Interval of region 3:',ci_3)
print('Lowest quantile of region 3:',l3)
print('Highest quantile of region 3:',h3)

Confidence Interval of region 3: (3901080.235711201, 4236025.632198582)
Lowest quantile of region 3: -1223422.6408518471
Highest quantile of region 3: 9184689.950229311

Time for calculate the risk and  losses

In [93]:
total= bprofit_1+bprofit_2+bprofit_3
risk = np.mean(total < 0)
risk

0.0

<div class="alert alert-danger">
    <s>You don't need to do the bootstrapping again to calculate risk of losses. As stated above: 'Loss is negative profit, calculate it as a probability and then express as a percentage'</s>
</div>

I express it as a percentaje

In [94]:

risk1 = np.mean(bprofit_1 < 0)
risk2 = np.mean(bprofit_2 < 0)
risk3 = np.mean(bprofit_3 < 0)
print("risk in region 1: ",risk1)
print("risk in region 2: ",risk2)
print("risk in region 3: ",risk3)

risk in region 1:  0.036
risk in region 2:  0.008
risk in region 3:  0.07

<div class="alert alert-success">
    Yep, this works
</div>

In [95]:
d= {'Region1': [np.round(ci_1, decimals=2), l1, h1], 'Region2': [np.round(ci_2, decimals=2), l2, h2], 'Region3': [np.round(ci_3, decimals=2), l3, h3], 'Metrics': ['IC', 'Low_quantile', 'High_quantile']}
pd.DataFrame(d).set_index('Metrics')

,Region1,Region2,Region3
Metrics,,,
IC,"[4807568.06, 5160774.06]","[5010538.42, 5283173.9]","[3901080.24, 4236025.63]"
Low_quantile,-473629,979003,-1.22342e+06
High_quantile,1.05222e+07,9.71474e+06,9.18469e+06

### 5.3 Provide findings: suggest a region for development of oil wells and justify the choice.

## Conclusion

## We can assume with a Confidence interval is 95% that we will find more stability in Region 2 so it means that its is probable to not fall out the CI. On the other hand we find more disparity in Region 3 because its extreme values present a big distance between them so it is not good for your future findings. To conlcude, region 3 is the place where there a risk of losses higher tan the rest of regions. It seems that region 2 is more adecaute for development as its establish CI shows and its lower risk of losses

<div class="alert alert-danger">
    <s><ul>
        <li>The confidence intervals don't seem correct.
        <li>You also need to calculate risk of losses.
        <li>There is no analysis of your findings
        </ul></s>
</div>

<div class="alert alert-danger">
    <s>There are possible negative profits in the region 3, so risk of losses can't be 0 at least in that region.</s>
</div>

<div class="alert alert-success">
    Ok, reasonable
</div>